PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/smartdesk?retryWrites=true&w=majority
JWT_SECRET=replace_this_with_a_long_random_string
JWT_EXPIRE=7d
GEMINI_API_KEY=Ab8RN6KeHVVjeHtb7K9RJGNpRutafXH3Q90mzpZUuVA5D2_WjQ
CLIENT_URL=http://localhost:5173
